.modal {
  position: absolute;
  /* width: 300px; */
  /* height: 400px; */
  background-color: #fff;
  border-radius: 8px;
  padding: 32px;
}

.modal:focus {
  outline: none;
}

.overlay {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.calendar {
  position: relative;
}
