.signContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #e3e4e4;
  padding: 16px;
}

.signTitle {
  font-weight: 500;
  font-size: 32px;
  margin-bottom: 32px;
}

.formSign {
  background-color: #4e525b;
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  padding: 24px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.formGroup {
  display: flex;
  flex-direction: column;
  margin: 8px 0;
}

.formGroup-0 {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.label {
  color: #e3e4e4;
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 500;
}

.input {
  background-color: #383a39;
  border: none;
  border-radius: 4px;
  color: #fff;
  padding: 8px 8px;
  line-height: 24px;
  font-size: 16px;
}

.input:focus {
  outline: none;
}

.btnSubmit {
  background-color: #7e50b8;
  padding: 16px;
  border: none;
  border-radius: 4px;
  margin-top: 16px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.errorMessage {
  padding: 8px;
  background-color: #e23636;

  border-radius: 4px;
  color: #fff;
  font-weight: 500;
  margin: 8px 0;
}

.btnSubmit:hover {
  background-color: #b87ade;
}

.redirectContainer {
  margin: 32px 0;
  font-size: 14px;
  color: #383a39;
}

.redirectLink {
  text-decoration: none;
  color: #7e50b8;
  font-weight: 500;
}
