p {
  margin: 0;
}

.messageContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #263859;
  padding: 16px;
  width: fit-content;
  min-width: 250px;
  max-width: 600px;
  margin: 8px;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.messageHeader {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  justify-content: space-between;
}
.sendDate {
  color: #fff;
  font-size: 14px;
}
.sendTime {
  font-size: 12px;
  color: #6b778d;
}

.messageAuthor {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  margin: 0 8px;
}

.messageText {
  font-size: 12px;
  color: #e3e4e4;
}

.btnDelete {
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  padding: 4px 8px;
  align-self: end;
  margin-left: 32px;
  transition: all 0.2s ease;
}

.btnDelete:hover {
  background-color: #e23636;
}

.btnDelete::focus {
  outline: none;
}

.btnDelete svg {
  transition: all 0.2s ease;
}

.btnDelete:hover svg {
  stroke: #fff;
}
